{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chirp Chirp</title>
    <link rel="stylesheet" href='{% static "main/css/bootstrap.css" %}'media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>
    <a href="{% url 'index' %}">HOME</a>
    <a href="{% url 'login' %}">LOGIN</a>
    <a href="{% url 'create_user' %}">Create User</a>
    <br>
    {%  if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout!</a>
        <a href="{% url 'profile_view' %}">User Profile</a>
    {% endif %}
    </br>
    <div class="container">
      <a href="{%url 'login'%}">Login</a>
      <a href="{%url 'logout'%}?next=/">Logout</a>
      {{ request.user }}
      {% block content %}
          No content provided
      {% endblock %}
    </div>

  </body>
</html>
