 {% extends "base.html" %}

 {% block  content %}
   <h1> Welcome to Chirper!</h1>
   <h4>{{ amount }} chirps</h4>
   <div class="row">
     <div class="col-md-6"></div>
     {% for chirp in object_list %}
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">{{chirp.bird}}</h3>
         </div>

         <div class="container">
          <div class="panel-body">
         {{ body }}

         {% if chirp.bird == request.user %}
         <br>
         <a href="{% url 'chirp_detail_view' chirp.pk%}">Click here for details.</a>
         <br>
         <a class = "btn btn-danger" href="{% url 'chirp_delete_view' chirp.pk}">Delete Chirp</a>
         {% endif %}


        </div>
      </div>
        {% endfor %}
    </div>
    <div class="col-md-6"></div>



   <div class="container">

 {% endblock %}
